@use "functions" as *;

$laptop: 1399.98;
$tablet: 991.98;
$mobile: 767.98;
$mobile-s: 575.98;

@mixin laptop-above {
  @media (width > ptrm($laptop)) {
    @content;
  }
}

@mixin laptop {
  @media (width <= ptrm($laptop)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > ptrm($tablet)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= ptrm($tablet)) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > ptrm($mobile)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= ptrm($mobile)) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > ptrm($mobile-s)) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= ptrm($mobile-s)) {
    @content;
  }
}

@mixin hover {
  @media (hover:hover) {
    &:hover {
      @content;
    }
  }
}

