@use "functions" as *;
@use "media" as *;

:root {
  --opacity: 0.5;
  --scale: 0.9;

  --color-light: #ffffff;
  --color-dark: #141414;
  --color-dark-rgb: 20 20 20;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-grey-50: #7e7e81;
  --color-grey-60: #98989a;
  --color-section-background: #191919;
  --color-red: #ff0000;
  --color-yellow: #ffd11a;
  --color-yellow-hover: #e1ba1d;
  --color-selection-text: #0f1b24;
  --color-selection-background: #ffeca6;
  --color-focus: rgb(27 127 204 / 80%);
  --color-main: var(--color-yellow);

  --border: #{ptrm(1)} solid var(--color-dark-15);

  --container-width: #{ptrm(1440)};
  --container-padding: #{ptrm(15)};

  --font-size-default: #{ptrm(18)};
  --font-kumbh-sans: "KumbhSans", sans-serif;
  --font-inter: "Inter", sans-serif;

  @include laptop {
    --container-width: #{ptrm(1280)};
  }
}
